## Deliverable 3. Create a Travel Itinerary Map.

In [60]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [61]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Hervey Bay,AU,83.03,overcast clouds,-25.2986,152.8535,Shelly Bay Resort
1,4,George,ZA,74.10,few clouds,-33.9630,22.4617,Protea Hotel by Marriott George King George
2,5,Bluff,NZ,72.81,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
3,10,Mataura,NZ,73.47,light rain,-46.1927,168.8643,Ellie's Villa
4,17,Namibe,AO,73.13,few clouds,-15.1961,12.1522,Hotel Chik Chik Namibe

In [62]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}<dd>{Max Temp} °F</dd>
</dl>
"""


# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [63]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Hervey Bay,AU,83.03,overcast clouds,-25.2986,152.8535,Shelly Bay Resort
1,4,George,ZA,74.10,few clouds,-33.9630,22.4617,Protea Hotel by Marriott George King George
2,5,Bluff,NZ,72.81,overcast clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
3,10,Mataura,NZ,73.47,light rain,-46.1927,168.8643,Ellie's Villa
4,17,Namibe,AO,73.13,few clouds,-15.1961,12.1522,Hotel Chik Chik Namibe

In [64]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.05)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[vacation_df["City"] == "Trairi"]
vacation_end_df = vacation_df.loc[vacation_df["City"] == "Trairi"]
vacation_stop1_df = vacation_df.loc[vacation_df["City"] == "Touros"]
vacation_stop2_df = vacation_df.loc[vacation_df["City"] == "Maragogi"]
vacation_stop3_df = vacation_df.loc[vacation_df["City"] == "Sobradinho"]

In [66]:
vacation_start_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
247,692,Trairi,BR,80.1,overcast clouds,-3.2778,-39.2689,janelas do mar

In [67]:
vacation_end_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
247,692,Trairi,BR,80.1,overcast clouds,-3.2778,-39.2689,janelas do mar

In [68]:
vacation_stop1_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
127,334,Touros,BR,83.3,broken clouds,-5.1989,-35.4608,INN NEW HORIZON

In [69]:
vacation_stop2_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
229,643,Maragogi,BR,79.63,scattered clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort

In [70]:
vacation_stop3_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
135,364,Sobradinho,BR,79.34,scattered clouds,-12.8333,-39.1,Pousada Pau Brasil

In [71]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start_df.iloc[0,5:7].to_numpy()
end = vacation_end_df.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1_df.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2_df.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3_df.iloc[0,5:7].to_numpy()

start

array([-3.2778, -39.2689], dtype=object)

In [74]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
# Latitude-longitude pairs

trairi = (-3.2778, -39.2689)
touros = (--5.1989, --35.4608)
maragogi = (-9.0122, -35.2225)
sobradinho = (-12.8333, -39.1)


fig = gmaps.figure()

brazil_coast_trip = gmaps.directions_layer(Trairi, Trairi, 
                                  waypoints=[Touros, Maragogi, Sobradinho],
                                  travel_mode="DRIVING")
fig.add_layer(brazil_coast_trip)

fig

Figure(layout=FigureLayout(height='420px'))

In [75]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df], ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,692,Trairi,BR,80.10,overcast clouds,-3.2778,-39.2689,janelas do mar
1,334,Touros,BR,83.30,broken clouds,-5.1989,-35.4608,INN NEW HORIZON
2,643,Maragogi,BR,79.63,scattered clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
3,364,Sobradinho,BR,79.34,scattered clouds,-12.8333,-39.1000,Pousada Pau Brasil

In [76]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}<dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [78]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))