In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Gao,ML,2022-01-28 21:53:22,16.6362,1.6370,67.14,16,0,12.37
1,1,Jamestown,US,2022-01-28 21:51:08,42.0970,-79.2353,19.09,59,100,5.01
2,2,Buin,CL,2022-01-28 21:50:37,-33.7333,-70.7500,83.05,41,0,11.39
3,3,Ushuaia,AR,2022-01-28 21:49:56,-54.8000,-68.3000,64.06,52,40,4.61
4,4,Taltal,CL,2022-01-28 21:53:23,-25.4000,-70.4833,68.32,73,31,7.11

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Buin,CL,2022-01-28 21:50:37,-33.7333,-70.7500,83.05,41,0,11.39
8,8,Bonthe,SL,2022-01-28 21:52:29,7.5264,-12.5050,79.16,82,78,5.99
14,14,Ler,SS,2022-01-28 21:53:26,8.3018,30.1418,76.17,23,0,8.43
17,17,Kapaa,US,2022-01-28 21:51:18,22.0752,-159.3190,79.12,64,0,1.01
20,20,Atuona,PF,2022-01-28 21:53:29,-9.8000,-139.0333,77.79,71,11,15.17
28,28,Sorong,ID,2022-01-28 21:53:33,-0.8833,131.2500,80.83,81,100,11.48
29,29,Arraial Do Cabo,BR,2022-01-28 21:51:15,-22.9661,-42.0278,80.56,83,75,6.91
32,32,Butaritari,KI,2022-01-28 21:50:49,3.0707,172.7902,81.93,79,64,17.74
35,35,Hilo,US,2022-01-28 21:53:35,19.7297,-155.0900,81.25,79,21,7.00
40,40,Georgetown,MY,2022-01-28 21:49:59,5.4112,100.3354,81.90,92,20,1.99

In [19]:
preferred_cities_df.notnull().sum()

City_ID       129
City          129
Country       129
Date          129
Lat           129
Lng           129
Max Temp      129
Humidity      129
Cloudiness    129
Wind Speed    129
dtype: int64

In [20]:
preferred_cities_df.count()

City_ID       129
City          129
Country       129
Date          129
Lat           129
Lng           129
Max Temp      129
Humidity      129
Cloudiness    129
Wind Speed    129
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2              Buin      CL     83.05 -33.7333  -70.7500
8            Bonthe      SL     79.16   7.5264  -12.5050
14              Ler      SS     76.17   8.3018   30.1418
17            Kapaa      US     79.12  22.0752 -159.3190
20           Atuona      PF     77.79  -9.8000 -139.0333
28           Sorong      ID     80.83  -0.8833  131.2500
29  Arraial Do Cabo      BR     80.56 -22.9661  -42.0278
32       Butaritari      KI     81.93   3.0707  172.7902
35             Hilo      US     81.25  19.7297 -155.0900
40       Georgetown      MY     81.90   5.4112  100.3354

In [22]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Buin,CL,83.05,-33.7333,-70.7500,Paihuen
8,Bonthe,SL,79.16,7.5264,-12.5050,Bonthe Holiday Village
14,Ler,SS,76.17,8.3018,30.1418,
17,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
20,Atuona,PF,77.79,-9.8000,-139.0333,Villa Enata
28,Sorong,ID,80.83,-0.8833,131.2500,Waigo Splash Hotel
29,Arraial Do Cabo,BR,80.56,-22.9661,-42.0278,Pousada Porto Praia
32,Butaritari,KI,81.93,3.0707,172.7902,Isles Sunset Lodge
35,Hilo,US,81.25,19.7297,-155.0900,Hilo Hawaiian Hotel
40,Georgetown,MY,81.90,5.4112,100.3354,Cititel Penang

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [32]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))